<div class="row">
  {{#each model as |cryptid|}}
  <div class="col-xs-12 col-sm-3 text-center">
    <div class="media well">
      {{#link-to 'cryptid' cryptid.id}}
      <img src="{{image-path cryptid.profileImg}}" alt="">
      {{/link-to}}
      <div class="caption">
        <h3>{{cryptid.name}}</h3>
      </div>
    </div>
    </div>
    {{else}}
    <div class="jumbotron">
      <h1>No Creatures</h1>
    </div>
    {{/each}}
</div>
