<div class="row">
  {{#each model as |cryptid|}}
  <div class="col-xs-12 col-sm-3 text-center">
      {{#link-to 'cryptid' cryptid.id}}
      {{listing-item path=cryptid.profileImg name=cryptid.name}}
      {{/link-to}}
  </div>
    {{/each}}
</div>
