<div class="row">
  <div class="col-xs-6">
    <h1>Sightings</h1>
  </div>
  <div class="col-xs-6 h1">
      {{#link-to "sightings.new" class="pull-right btn btn-primary"}}New Sighting{{/link-to}}
  </div>
</div>
{{outlet}}
<!-- <div class="panel panel-default">
  <ul class="list-group">
    {{#each model as |sighting|}}
      <li class="list-group-item">
        {{sighting.location}} - {{sighting.sightedAt}}
      </li>
    {{/each}}
  </ul>
</div> -->
