@font-face {
  font-family: 'lakeshore';
  src: url('fonts/LAKESHOR-webfont.eot');
  src: url('fonts/LAKESHOR-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/LAKESHOR-webfont.woff') format('woff'), url('fonts/LAKESHOR-webfont.ttf') format('truetype'), url('fonts/LAKESHOR-webfont.svg#lakeshore') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'airstreamregular';
  src: url('./fonts/Airstream-webfont.eot');
  src: url('fonts/Airstream-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Airstream-webfont.woff') format('woff'), url('fonts/Airstream-webfont.ttf') format('truetype'), url('fonts/Airstream-webfont.svg#airstreamregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
}

body {
  background: rgba(51, 20, 20, 0.7);
  display: flex;
  flex-direction: column;
  font-size: 10px;
}

a {
  text-decoration: none;
}

.main-header {
  flex: 0 1 auto;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.logo-text {
  background: white;
  text-align: center;
  font-family: lakeshore;
  text-transform: uppercase;
  font-size: 37px;
}

.thumbnail-image {
  display: block;
  width: 100%;
}

.thumbnail-title {
  font-size: 18px;
  display: block;
  margin: 0;
  padding: 4px 10px;
  background: rgb(96, 125, 139);
  color: rgb(202, 238, 255);
}

.thumbnail-item {
  /* display: block;  width: 120px; */
  min-width: 120px;
  max-width: 120px;
  display: inline-block;
  border: 1px solid rgb(100%, 100%, 100%);
  border: 1px solid rgba(100%, 100%, 100%, 0.8);
  transition: transform 600ms ease-in-out;
}

.thumbnail-item:hover {
  transform: scale(1.2);
}

.thumbnail-list {
  list-style: none;
  display: flex;
  flex: 0 1 auto;
  justify-content: space-between;
  order: 2;
  padding: 20px 0;/* padding: 0; */
  white-space: nowrap;
  overflow-x: auto;
  overflow: hidden;
}

.thumbnail-item + .thumbnail-item {
  /* margin-top: 10px; */
}

.detail-image-frame {
  position: relative;
  text-align: center;
  transition: transform 833ms;
}

.is-tiny {
  transform: scale(0.001);
  transition: transform 0ms;
}

.detail-image-title {
  position: absolute;
  bottom: 16px;
  left: 4px;
  color: white;
  font-size: 40px;
  text-shadow: rgba(0, 0, 0, 0.9) 3px 5px 9px; /* 颜色 透明度 左右偏移量 上下偏移量 模糊度 */
  font-family: airstreamregular;
}

.detail-image-container {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden-detail .detail-image-container {
  display: none;
}

.hidden-detail .thumbnail-list {
  flex-direction: column;
  align-items: center;
}

.hidden-detail .thumbnail-item {
  max-width: 80%;
}

.detail-image {
  width: 90%;
}

@media all and (min-width: 780px) {
  .main-content {
    flex-direction: row;
  }

  .thumbnail-list {
    flex-direction: column;
    overflow: hidden;
    order: 0;
    margin-left: 20px;
    padding: 0 35px;
  }

  .thumbnail-item {
    max-width: 260px;
  }

  .thumbnail-item + .thumbnail-item {
    margin-top: 20px;
  }
}

@media all and (orientation: landscape) {
  a {
    color: rgb(255, 0, 0);
  }
}

@media all and (orientation: portrait) {
  a {
    color: rgb(0, 255, 0);
  }
}
